.divStyle1 {
  background-image: url('/carousel2.jpg');
}
.divStyle2 {
  background-image: url('/carousel1.jpg');
}

@media screen and (max-width: 800px) {
  .divStyle1,
  .divStyle2 {
    background-position: 50% 50%;
  }
}
