@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
  --accent: #2bf0aa;
  --black: #1b1a17;
  --gray: #747474;
  --white: #fff;

  --ff-body: 'Poppins', sans-serif;
  --ff-heading: 'Roboto', sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
}

body,
p,
small {
  font-family: var(--ff-body);
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  body , p {
    font-size: 1.2rem;
  }

  .ant-card-meta-description > p{
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 700;
}

a {
  color: inherit;
}

.graphyl-text {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.ant-page-header {
  background-color: var(--black);
}

.ant-btn-link.active {
  color: var(--accent);
}

/* .ant-typography-expand,
.ant-typography-edit,
.ant-typography-copy {
  color: var(--white);
} */

.ant-btn-primary {
  border-color: var(--black);
  background-color: var(--black);
}
.ant-btn-primary:hover {
  border-color: var(--gray);
  background-color: var(--gray);
}

.ant-drawer-body,
.ant-menu {
  background: var(--black);
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 1px solid var(--accent);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-card-cover img {
  width: 150px;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--white);
  background-color: var(--black);
  padding: 8px;
  border-radius: 4px;
}

.ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: var(--accent);
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none;
}

.main-card {
  transition: 0.3s;
  box-shadow: 0 0.1rem 0.3rem rgba(0 0 0 / 0.1);
}

.title-effect {
  font-size: 2rem !important;
  color: var(--gray);
}

.title-effect::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  border-radius: 100vw;
  bottom: -5%;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  background-color: var(--accent);
}

.ant-collapse-header {
  color: var(--black);
}

.ant-collapse-item-active {
  background-color: var(--black);
}

.ant-collapse-item-active .ant-collapse-header {
  color: var(--white) !important;
}

.desktop-carousel {
  height: calc(100vh - 72px);
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}

.title:after {
  bottom: 0;
  content: attr(title);
  font-size: 2.8rem;
  font-weight: 700;
  left: 0;
  opacity: 0.1;
  position: absolute;
}

.title-home::after {
  font-size: 2rem;
  top: -1rem;
  left: 0.8rem;
}

.title,
.title:after {
  color: var(--gray);
  white-space: nowrap;
}

@media screen and (min-width: 1280px) {
  .main-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 0.4);
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.4rem;
  }

  .title:after {
    font-size: 2rem;
  }
}

.gradient {
  background-image: linear-gradient(135deg, #84ffc9, #aab2ff, #eca0ff);
}
