.card {
  height: 100%;
  overflow: hidden;
}

.card__data {
  top: calc(100% - 3.5rem);
}

@media screen and (min-width: 1280px) {
  .card:hover .card__data {
    top: 0;
    left: 0;
  }
  .card__data {
    position: absolute;
    align-items: unset;
    background-color: rgba(0 0 0 / 0.4);
    backdrop-filter: blur(0.3rem);
    left: 100%;
    transition: 0.3s;
  }
}
