.card {
  height: 100%;
  overflow: hidden;
}

.card__data {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1280px) {
  .card:hover .card__data {
    left: 0;
  }
  .card__data {
    position: absolute;
    align-items: unset;
    background-color: rgba(0 0 0 / 0.4);
    backdrop-filter: blur(0.3rem);
    left: 100%;
    transition: 0.3s;
  }
}
